.option-nav-container{
    overflow-y: auto;
    overflow-x: hidden;
    width: 25%;
    height: 500px;
    float: left;
    text-align: left;
    border-right: 1px solid #e3eaef;
    border-bottom: 1px solid #e3eaef;
}
.nav-list{
    cursor: pointer;
    padding-left: 0.5em;
    background-color: rgb(243, 243, 243);
}
.nav-title{
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.nav-description{
    cursor: pointer;
    font-weight: small;
    width: 100%;
}
.active-nav{
    cursor: pointer;
    background-color: #1a73e8;
    color: white;
}
.option-content-container{
    width: 75%;
    height: 500px;
    float: right;
    padding: 0.4em;
    padding-right: 1.2em;
    overflow: hidden;
    overflow-y: auto;
    border-left: 1px solid #e3eaef;
    border-top: 1px solid #e3eaef;
    border-bottom: 1px solid #e3eaef;
}
.inner-content-card{
    box-shadow: 0 0 5px #1a73e8;
}
.active-inner-tab{
    border-bottom: 3px solid #1a73e8;
    border-radius: 4px;
}

.form-tabs-conatainer{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.tab-number{
    border:1px solid grey;
    border-radius: 50px;
    padding: 7px;
    background-color: rgb(223, 222, 222);
}
.selected-tab-number{
    border:1px solid #1a73e8;
    border-radius: 50px;
    background-color:  #1a73e8;
    color: white;
}
.tab-label{
    padding: 7px;
    font-size: medium;
}
.form-content-conatainer{
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 500px;
    position: relative;
}
.input-field-select{
    width: 100%;
    height: 36px;
}
.button-container{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;;
}